body {
	background-color: #E3DAC9;
	font-family: Tahoma, Geneva, Verdana;
}

div#wrapper{
	margin:auto;
	background:#E3DAC9;
	width:1000px;
	height:1000px;
}

#websiteLogo {
	width: 100px;
	height: 100px;
	border: solid 2px #666;
	margin-top: 25px;
	margin-left:25px;
	margin-bottom: 25px;
	float: left;
}

h1 {
	float: left;
	color: #666;
	margin: auto;
	font-size: 20pt;
	padding-top: 65px;
	padding-left: 25px;
}

h3 {
	color: #666;
	clear: both;
	margin-left: 25px;
	padding-top: 5px;
}

h4 {
	color: #2F822F;
}

a {
	text-decoration: none; /* Removes link selection */
}

a:link, a:visted {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

.well {
	margin-left: 25px;
	margin-top: 25px;
	width:950px;
	border: 2px solid green;
}

.well li ol a {
	color: black;
}

.well #roman {
	list-style-type:upper-roman;
}

#navbar {
	background-color: #666;
	height: 40px;
	margin-left: 25px; 
	margin-right: 25px;
	clear: both;
}

#navbar ul {
	list-style: none;
	margin: 0 auto;
}

#navbar ul li {
	float: left;
	display: inline;
}

#navbar a:link, #navbar a:visited {
	color: #fff;
	display: inline-block;
	padding: 10px 25px;
	height: 40px;
}

#navbar a:hover, #navbar a:active, 
#navbar .active a:link, #navbar .active a:visited {
	background-color: #2F822F;
}